   body {
        margin: 0;
        font-family: Arial, sans-serif;
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 100vh; 
    }

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

.logo img {
    height: 40px;
    width: auto; 
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 30px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    transition: background-color 0.3s;
    font-size: 18px;
}

.nav-links a:hover {
    background-color: #444;
    border-radius: 4px;
}

.landing-description {
    padding: 50px; 
    margin: 50px;
    text-align:justify; 
}

.landing-description h1 {
    font-size: 2.5em; 
    color:#ffffff; 
}

.landing-description p {
    font-size: 2em; 
    font-weight: 700;
    color: #ffffff;
}

.toggle-button {
    display: none; 
    background-color: transparent;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        display: none; 
        width: 100%;
    }

    .navbar.active .nav-links {
        display: flex; 
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links li {
        margin: 10px 0; 
    }

    .toggle-button {
        display: block; 
    }
}

.about-container {
    display: flex; 
    align-items: center; 
    padding: 20px;
}

.about-description {
    width: 50%; 
    margin-left: 250px;
}

.about-description h1 {
    font-size: 2.5em; 
    color: #ff0000;
}

.about-description p {
    font-size: 1.6em;
    font-weight: 700;
    color: #dc1414;
}

.gallery-container {
    padding: 20px; 
    text-align: center; 
    padding: 50px;
    font-size: 2em;
    color: #3effff;
}

.gallery {
    display: flex; 
    justify-content: center;
    flex-wrap: wrap; 
}

.gallery-image {
    width: 30%; 
    height: auto;
    margin: 10px; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contact-container {
    padding: 20px;
    text-align: center; 
    color:#00ff0d;
}

.contact-form {
    display: flex; 
    justify-content: center; 
    flex-direction: column; 
    align-items: flex-start; 
    max-width: 600px; 
    margin: 0 auto; 
}

.form-left {
    width: 100%;
}

label {
    margin-top: 10px; 
    font-weight: bold;
    display: block; 
    color: #ffffff;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%; 
    padding: 10px; 
    margin-top: 5px; 
    margin-bottom: 15px; 
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white; 
    padding: 10px 15px;
    border: none; 
    border-radius: 4px;
    cursor: pointer; 
}

button:hover {
    background-color: #45a049; 
}